<!DOCTYPE html>
<html>
    <head>
        <title>Predication Page</title>
        <link rel="stylesheet" href="https://pyscript.net/releases/2024.5.2/core.css">
        <script type="module" src="https://pyscript.net/releases/2024.5.2/core.js"></script>
        <link rel="stylesheet" href="/static/yehai.css">
    </head>
    <body>
        <div class="centered">
            <h1 class="output">{{ risk }}</h1>
            <h2 class="output">{{treatment_plan}}</h2>
            <br>
            <div id="tp" class="output">
                <p>{{precaution}}</p>
            </div>
        </div>
    </body>
</html>